# /etc/systemd/system/mysql.service
[Unit]
Description=MySQL Service
After=network.target

[Service]
ExecStart=/usr/bin/mysqld_safe
ExecStop=/usr/bin/mysqladmin shutdown
Restart=always

[Install]
WantedBy=multi-user.target
